{{template "base" .}}

{{define "title"}}Event detail{{end}}

{{define "body"}}
{{.Data.Event}}
<h1>{{.Data.Event.Title}}</h1>

<img src="/uploads/{{.Data.Event.CoverImagePath}}">

<a href="/events/{{.Data.Event.ID}}/edit">Edit</a>
{{end}}